/* Universal element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* background color  */
body {
    background-color: #d9dcd6;
}

/* header/nav */
nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

nav h1 {
    display: inline-block;
    font-size: 48px;
}

nav h1 {
    color: #d9dcd6;
}

nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav div ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* contols links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Main image CSS */

p {
    font-size: 16px;
}
/* image size/placment */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
 /* /*controls the images in center rows *\ */
.hero h2 {
    margin-bottom: 20px;
    font-size: 36px;
} 
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}
/* right information column placement/size */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* right information column background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* right column writing position */
.benefit-one {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-one h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-one img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* middle bars writing styles */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
